@import "src/scss/setings/fonts";

.header {
  font-family: $font-text;
  font-weight: 600;
  background-color: $color-nav;
  height: 70px;
  border-bottom: solid 2px #5B605F;
  color: $color-text-nav;
  display: flex;

  .wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;

    .header__row {
      display: flex;
      padding: 10px;
      margin: 5px;
      .header__row__firstContainer {
        display: flex;

        .openShop {

          .openShop__icon {

          }

          .openShop__whenOpen {

          }
        }

        .telephone {
          .telephone__icon {

          }

          .telephone__number {
            color: $color-text-nav;
          }
        }

        .location {
          .location__icon {

          }

          .location__adress {

          }
        }
      }
    }
  }
}