@import "src/scss/setings/fonts";

.navigation {
  font-family: $font-text;
  font-weight: 600;
  background-color: white;
  height: 70px;

  display: flex;


  .wrapper__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation__logo__image {
      border-radius: 30%;
      padding: 15px;
    }

    .navigation__list__container {
      display: flex;


      .list__item {
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: solid 2px lightgray;
        transition: 1s;

      }

      .list__item:hover {
        border-bottom: solid 2px rgba(250, 163, 146, 1);
        transform: translate(-20%, 20%);


      }
    }
  }
}


a {
  text-decoration: none;
  color: black;
}